<div class="row">
  <div class="col-md-6">
    <h3>Friday Dec 3</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Introductions</td> </tr>
      <tr> <td>09:10</td>  <td>What is a container?</td> </tr>
      <tr> <td>09:25</td>  <td>Singularity Basics</td> </tr>
      <tr> <td>09:55</td>  <td>Scientific Containers</td> </tr>
      <tr> <td>10:10</td>  <td>Break</td> </tr>
      <tr> <td>10:20</td>  <td>Building and Modifying Containers</td> </tr>
      <tr> <td>10:55</td>  <td>Using Containers & Questions</td> </tr>
      <tr> <td>11:30</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
