<div class="row">
  <div class="col-md-6">
    <h3>Friday Dec 3</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Introductions</td> </tr>
      <tr> <td>09:10</td>  <td>Container Basics: What is a container?</td> </tr>
      <tr> <td>09:20</td>  <td>How do I use a container?</td> </tr>
      <tr> <td>09:30</td>  <td>Building containers
      <tr> <td>10:00</td>  <td>Morning break</td> </tr>
      <tr> <td>10:20</td>  <td>Building containers: STAR from Source</td> </tr>
      <tr> <td>11:00</td>  <td>Adding a signature to your container</td> </tr>
      <tr> <td>11:15</td>  <td>Using containers in batch jobs</td> </tr>
      <tr> <td>11:45</td>  <td>JaxReg: The JAX Container Registry</td> </tr>
      <tr> <td>11:50</td>  <td>Wrap-up</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
